*{
	margin:0;
	padding:0;
	font-family:Cera Pro;
}
body
{
	background-color:#ccc;
}
main{
	background-color:#76BED0;
	height:80%;
}
.myNav{
	height:60px;
	background-color:#F55D3E;
	text-align:center;
	line-height:60px;
}

#title{
	color:white;
}
